footer {
  padding: 74px 0 42px !important;
  background:
    linear-gradient(
      180deg,
      rgba(0, 51, 113, 0) 0%,
      rgba(0, 51, 113, 0.2) 100%
    ),
    var(--neutral-background, #0c111d);

  .container-boxed {
    padding: 0 !important;
  }

  .items-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px;
    border-bottom: 1px solid #ffffff80;

    .item-1 {
      display: flex;
      flex-direction: column;
      max-width: 262px;

      .logo {
        width: 80%;
        height: auto;
      }

      h3 {
        font-size: 16px !important;
        line-height: 24px;
        color: var(--neutral-light-gray, #b6becd);
        opacity: 0.7;
        margin: 20px 0 48px 0;
      }

      .microsoft {
        width: 100%;
        height: auto;
      }
    }

    .item-2 {
      display: flex;
      flex: 1;
      justify-content: center;
      gap: clamp(60px, 20vw, 240px);
      margin-right: 5%;

      ul {
        list-style: none;
        padding: 0;
      }

      h4 {
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 24px;
        color: var(--neutral-text, #fff);
      }

      .logo-icon {
        width: 24px;
        height: 24px;
      }

      li {
        font-size: 16px !important;
        line-height: 24px;
        color: var(--neutral-light-gray, #b6becd);
      }

      .link-1 {
        li {
          padding: 5px 0;
        }
      }

      .link-2 {
        li {
          padding: 10px 0;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      .link-1,
      .link-2 {
        width: auto !important;
        display: flex;
        flex-direction: column;
        gap: 18px;
      }
    }
  }

  .copy {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    p {
      color: var(--neutral-white, #fcfcfd);
    }

    a {
      text-decoration: underline;
    }
  }

  .microsoft-mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  footer {
    padding: 40px 20px !important;

    .items-menu {
      flex-direction: column;
      gap: 10px;
      padding-bottom: 0;

      .microsoft {
        display: none;
      }

      .item-2 {
        gap: 10px;
        margin-right: 0;

        h4 {
          font-size: 16px !important;
          line-height: 1.2;
        }

        .logo-icon {
          width: 18px;
          height: 18px;
        }

        li {
          font-size: 14px !important;
          line-height: 1.2;
          color: var(--neutral-light-gray, #b6becd);
        }
        .link-1,
        .link-2 {
          width: 50% !important;
          gap: 1px;
        }

        .link-1 {
          li {
            padding: 0 0 25px;
          }
        }
      }

      .microsoft-mobile {
        display: block;
        width: 166px;
        height: auto;
        margin-bottom: 33px;
      }
    }

    .copy {
      flex-direction: column;
      gap: 16px;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      p {
        font-size: 14px !important;
        line-height: 1.2;
      }

      a {
        font-size: 14px !important;
        line-height: 1.2;
      }
    }
  }
}
