h2 {
    font-weight: 400;
    font-size: clamp(24px, 3vw, 60px);
    line-height: 1.2;
}

h3 {
    font-weight: 400;
    font-size: clamp(16px, 1.5vw + 10px, 22px);
    line-height: 1.4;
}

/* NOTEBOOK */
@media (max-width: 1600px) and (min-width: 1024px) {
    h3 {
        font-size: clamp(16px, 1.1vw + 8px, 18px) !important;
    }

    .solucoes-card p {
        font-size: 16px !important;
    }
}

h4 {
    font-weight: 400;
    font-size: clamp(18px, 3vw, 28px) !important;
    line-height: 1.4;
}

.hero {
    min-height: 80vh;
    padding: 40px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    .content {
        display: flex;
        gap: 32px;
        flex-direction: column;
        width: 55%;
        max-width: 900px;

        h1 {
            font-weight: 400;
            font-size: clamp(28px, 4vw, 80px);
            line-height: 1.2;
        }

        span {
            width: max-content;
        }
    }

    .cubo-img-wrapper {
        width: 38%;
        max-width: 1000px;
        position: relative;
        display: inline-block;
    }

    .cuboImg {
        width: 100%;
        height: auto;
        display: block;
        -webkit-mask-image: radial-gradient(circle, black 30%, transparent 75%);
        mask-image: radial-gradient(circle, black 30%, transparent 75%);
    }
}

.cubo-img-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;

    /* Estilos Desktop */
    width: 2095.767px;
    height: 116.358px;
    border-radius: 1095.767px;
    background: radial-gradient(34.92% 51.47% at 67.73% 50%,
            #0359bf 0%,
            #0c2152 50%,
            #0c111d 100%);

    /* Posicionamento Desktop */
    bottom: -150px;
    right: -400px;
}

.parceiros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 53px 0;
    gap: 30px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .img {
            flex: 1;
            max-width: 120px;
            height: auto;
            max-height: 80px;
            object-fit: contain;
        }
    }
}

.servicos {
    padding: 93px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);

    .container-boxed {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 52px;

        .servicos-title {
            display: flex;
            gap: 120px;
            align-items: end;

            .text-container {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 32px;
            }

            .button-container {
                width: 30%;
            }
        }
    }
}

.solucoes-card {
    position: relative;
    overflow: hidden;

    min-height: 520px;
    margin-right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 11px;

    padding: 20px !important;
    border-radius: 20px !important;

    video {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        z-index: 0;
    }

    h4 {
        font-weight: 600;
        font-size: clamp(20px, 2vw, 26px) !important;
    }

    p {
        font-size: clamp(16px, 1.2vw, 20px);
        opacity: 0;
        transform: translateY(10px);
        max-height: 0;
        overflow: hidden;

        transition: all 1s ease;
    }
}

.solucoes-card> :not(.bg-video) {
    position: relative;
    z-index: 2;
}

.solucoes-card::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(rgba(0, 51, 113, 0) 0%,
            rgba(0, 51, 113, 0.7) 75%,
            rgba(0, 51, 113, 0.9) 80%,
            rgba(0, 51, 113, 1) 85%);

    transition: 1s ease;
    z-index: 1;
}

.solucoes-card:hover::before {
    background: linear-gradient(180deg, rgba(0, 51, 113, 0) 0%, #003371 78.63%);
}

.solucoes-card:hover p {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
}

.sobre-nos {
    display: flex;
    padding: 0 0 96px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ark {
        width: 749px !important;
        height: auto;
        mix-blend-mode: lighten;
        margin-bottom: -40px;
    }

    h2 {
        max-width: 1037px;
        text-align: center;
        margin: 32px 0 64px 0;
    }

    .sobrenos-content {
        display: flex;
        justify-content: center;
        gap: 124px;

        .tecnologia-avancada {
            max-width: 46% !important;
            height: auto;
            -webkit-mask-image: radial-gradient(circle, black 30%, transparent 90%);
            mask-image: radial-gradient(circle, black 30%, transparent 90%);
        }

        div {
            max-width: 42%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 18px;

            h3 {
                margin-bottom: 22px;
                line-height: 1.4 !important;
            }

            h4 {
                font-size: clamp(22px, 3vw, 30px) !important;
            }
        }
    }
}

.numeros {
    display: flex;
    padding: 96px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    .counter-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        /* Desktop Borders: Vertical lines between items */
        .contador:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

@media only screen and (max-width: 800px) {
    .numeros {
        .counter-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

            .contador {
                width: 100%;
                padding: 20px;
                margin: 0;
                border-right: none;
                text-align: center;
            }


            .contador:nth-child(1) {
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            .contador:nth-child(2) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            .contador:nth-child(3) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                border-right: none;
            }

        }
    }
}

.cases {
    display: flex;
    padding: 96px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    .embla__cases {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cases-card {
        width: 100%;
        justify-self: center;
        margin: 0 auto;
        display: flex;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(6px);
        background: var(--neutral-dark-gray, #101828);

        padding: 48px;
        gap: 48px;

        .unilever {
            width: 50%;
            height: 402px;
        }

        .cases-card-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 50%;

            .badges {
                display: flex;
                text-transform: none !important;
                gap: 10px;
            }

            h2 {
                font-size: clamp(24px, 3vw, 30px);
                font-weight: 600;
            }

            p {
                border-left: 1px solid #FCFCFD;
                padding-left: 16px;
                letter-spacing: 1.4;
                font-size: clamp(12px, 1.2vw, 16px);

            }

            .tecnologias {
                margin-top: 35px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                h4 {
                    font-size: clamp(12px, 1.2vw, 16px) !important;
                    color: var(--neutral-light-gray, #B6BECD);
                    font-weight: 700;
                }

                .tecnologias-images {
                    display: flex;
                    gap: 48px;

                    .tecnologia-img {
                        width: auto;
                        height: 47px;
                    }
                }
            }
        }

    }
}

.curva {
    display: flex;
    padding: 144px 0 !important;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 48px;
    position: relative;

    .curva-img {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 50%;
        object-fit: contain;
        z-index: -1;
        -webkit-mask-image: radial-gradient(circle, black 30%, transparent 70%);
        mask-image: radial-gradient(circle, black 30%, transparent 70%);
    }

    h2 {
        max-width: 60%;
        font-size: clamp(24px, 3vw, 48px);
    }
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;

    h2 {
        margin-top: 40px;
        margin-bottom: 24px;
    }
}



/* CELULARES */
@media only screen and (max-width: 800px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 20px;

        .content {
            max-width: 100%;
            width: 100%;
            align-items: start;
            gap: 24px;
        }

        .cubo-img-wrapper {
            width: 60%;
        }

        .cuboImg {
            height: auto;
        }

        .cubo-img-wrapper::after {
            width: 300px;
            height: 31.856px;
            border-radius: 300px;
            right: 70%;
            transform: translateX(50%);
            bottom: -40px;
            background: radial-gradient(34.92% 51.47% at 67.73% 50%,
                    #0359bf 0%,
                    #0c2152 50%,
                    #0c111d 100%);
        }
    }

    .parceiros {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;

        div {
            .img {
                max-width: 30%;
                max-height: auto;
            }
        }
    }

    .servicos {
        padding: 40px 20px;

        .container-boxed {
            .servicos-title {
                flex-direction: column;
                align-items: start;
                gap: 32px;

                .text-container {
                    width: 95%;
                }

                .button-container {
                    width: max-content;
                }
            }
        }
    }

    .solucoes-card {
        min-height: 420px;
        padding: 10px;
        margin-right: 8px;

        p {
            opacity: 1;
            transform: translateY(0);
            max-height: 200px;
        }
    }

    .solucoes-card::before {
        background: linear-gradient(180deg,
                rgba(0, 51, 113, 0) 0%,
                #003371 78.63%);
    }

    .sobre-nos {
        padding: 40px 20px;

        .ark {
            width: 100% !important;
        }

        .sobrenos-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;


            .tecnologia-avancada {
                max-width: 100% !important;
            }

            div {
                max-width: 100% !important;
                text-align: start;

                h3 {
                    margin-bottom: 0
                }
            }
        }
    }

    .numeros {
        padding: 40px 20px;
        max-width: 100%;

        h2 {
            text-align: center;
            width: 280px;
        }

        div {
            flex-wrap: wrap;
        }
    }

    .cases {
        padding: 40px 20px;
        text-align: center;

        .cases-card {
            flex-direction: column;
            padding: 40px 24px;
            gap: 24px;

            .unilever {
                width: 100%;
                height: auto;
                border-radius: 12px;
            }

            .cases-card-content {
                width: 100%;
                text-align: left;
                align-items: flex-start;

                h2 {
                    font-size: 20px;
                    font-weight: 700;
                }

                p {
                    text-align: left;
                    border-left: none;
                    padding-left: 0;
                    font-size: 14px;
                }

                .tecnologias {
                    align-items: flex-start;
                    margin-top: 0;

                    .tecnologias-images {
                        flex-wrap: wrap;
                        gap: 16px;
                        justify-content: flex-start;

                        .tecnologia-img {
                            height: 32px;
                        }
                    }
                }
            }
        }
    }

    .curva {
        padding: 40px 20px !important;
        background-image: none;
        gap: 32px;

        h2 {
            font-size: 22px;
            line-height: 1.4;
            max-width: 100%;
        }

        .curva-img {
            display: block;
            margin-top: -40px;
            z-index: -1;
            width: 100%;
            height: auto;
            position: relative;
            transform: none;
            right: auto;
            top: auto;
        }
    }

    .depoimentos {
        padding: 40px 20px;
        text-align: center;
    }
}

/* TELAS MAIORES (SEM CONTROLE ESPECIFICO) */
@media only screen and (min-width: 1500px) {
    .parceiros {
        div {
            gap: 40px;

            .img {
                max-width: 180px;
                max-height: 110px;
            }
        }
    }
}

@media only screen and (min-width: 1700px) {
    .parceiros {
        div {
            gap: 60px;

            .img {
                max-width: 220px;
                max-height: 130px;
            }
        }
    }

    .falecomtime {
        div {
            padding: 94px 78px;
        }
    }
}