.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 0;
    gap: 48px;
    height: 120vh;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;

        h1 {
            font-weight: 400;
            font-size: clamp(28px, 4vw, 48px);
            line-height: 1.1;

            b {
                display: block;
                font-size: clamp(28px, 4vw, 56px) !important;
            }
        }

        h3 {
            font-weight: 400;
            font-size: clamp(16px, 1.5vw + 10px, 22px);
            line-height: 1.4;
        }
    }

    .cubo-img-wrapper {
        width: 40%;
        max-width: 1000px;
        position: absolute;
        overflow: hidden;
        bottom: -400px;
        z-index: -1;

        .cuboImg {
            width: 100%;
            height: auto;
            display: block;
            -webkit-mask-image: radial-gradient(circle, black 30%, transparent 75%);
            mask-image: radial-gradient(circle, black 30%, transparent 75%);
        }
    }
}