html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background: var(--neutral-background);
    overflow-x: hidden;
}

h1,
h2,
h4 {
    color: var(--neutral-white);
    margin: 0;
}

h3,
p {
    color: var(--neutral-light-gray);
    margin: 0;
}

a,
button {
    transition:
        background var(--transition-fast),
        color var(--transition-fast),
        transform var(--transition-fast);
    color: var(--neutral-white);
    text-decoration: none;
    font-family: var(--font-main);
}

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: clamp(15px, 4vw, 40px);
}

.container-boxed {
    width: clamp(1100px, 90%, 1620px);
    margin-inline: auto;
    padding-inline: clamp(15px, 4vw, 40px);
}

@media only screen and (max-width: 800px) {

    .container,
    .container-boxed {
        padding: 40px 15px;
        max-width: 100%;
        width: 100%;
    }
}